version: '3'

# services:
#   shipyard_web:  
#     image: shipyard-web:dev
#     build:
#       dockerfile: src/Shipyard.Web/Dockerfile.develop
#     volumes:
#       - ./sources/shipyard/src/:/app/src/      
#       - $APPDATA/Microsoft/UserSecrets/:/root/.microsoft/usersecrets/
#       - $HOME/.microsoft/usersecrets/:/root/.microsoft/usersecrets/

#   shipyard_worker:
#     image: shipyard-worker:dev
#     build: 
#       dockerfile: src/Shipyard.Worker/Dockerfile.develop
#     volumes:
#       - ./sources/shipyard/src/:/app/src/        
#       - $APPDATA/Microsoft/UserSecrets/:/root/.microsoft/usersecrets/
#       - $HOME/.microsoft/usersecrets/:/root/.microsoft/usersecrets/