version: '3'

# services:

#   shipyard_web:  
#     image: shipyard-web:dev
#     build:
#       dockerfile: src/Shipyard.Web/Dockerfile.Development
#     volumes:
#       - ./shipyard/:/app/      
#     environment: 
#       - ASPNETCORE_ENVIRONMENT=Development
#       - $APPDATA/Microsoft/UserSecrets/:/root/.microsoft/usersecrets/
#       - $HOME/.microsoft/usersecrets/:/root/.microsoft/usersecrets/

#   shipyard_app:
#     image: shipyard-app:dev
#     build: 
#       dockerfile: src/Shipyard.App/Dockerfile.Development
#     volumes:
#       - ./shipyard:/app/            
#     environment: 
#       - ASPNETCORE_ENVIRONMENT=Development
#       - $APPDATA/Microsoft/UserSecrets/:/root/.microsoft/usersecrets/
#       - $HOME/.microsoft/usersecrets/:/root/.microsoft/usersecrets/