# Docker
.dockerignore
Dockerfile*

# dotnet
[B|b]in/
[O|o]bj/
[O|o]ut/
**/.vscode
**/.vs
**/azds.yaml
**/secrets.dev.yaml
**/values.dev.yaml
.dotnet
.Microsoft.DotNet.ImageBuilder

# Other
LICENSE
README.md