<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="local" value="./packages" />       
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    
    <!-- Private repo where your published nuget packages live -->
    <!-- <add key="private" value="https://pkgs.dev.azure.com/mysuperawesomeproject/29b1bdcd-d269-47a3-b131-156bfc25a90b/_packaging/My_Feed/v3/index.json" /> -->     
  </packageSources>
</configuration>
